*,
*::before *::after {
    box-sizing: border-box;
}

html {
    margin: 0;
}

body {
    background-color: rgba(0, 0, 0, 0.8);
    margin: 0;
    overflow-x: hidden;
}


/* début de style de la nav */

nav {
    background-color: #fff;
    height: 15vh;
}

.navOuvert {
    display: none;
    text-align: center;
    width: 200px;
    margin: auto;
    height: 50%;
    transition-property: transform;
}

.navOuvert .nav {
    display: block;
    padding: 3px;
}

.ouvert {
    background-color: #fff;
    height: 30vh;
}

.logo {
    height: 10vh;
    width: auto;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: red;
}

.burger {
    width: 42px;
    height: 24px;
    cursor: pointer;
    position: relative;
    display: none;
}


/* création du burger menu */

.burger span {
    width: 100%;
    height: 4px;
    background-color: #000;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.burger span::before,
.burger span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #000;
}

.burger span::before {
    transform: translateY(-10px);
}

.burger span::after {
    transform: translateY(10px);
}


/* état burger menu actif */

.burger.active span {
    background-color: transparent;
}

.burger.active span::before {
    transform: translateY(0px) rotateZ(45deg);
}

.burger.active span::after {
    transform: translateY(0px) rotateZ(-45deg);
}


/* fin de style nav */

.engMain {
    display: flex;
    flex-direction: column;
}

.ariane {
    color: white;
    margin-left: 10px;
}

.arianePass {
    color: rgba(255, 255, 255, 0.5)
}

h2 {
    color: white;
    margin-left: 10px;
}

h3 {
    margin-left: 50px;
    color: white;
}

iframe {
    margin: 50px;
}

.js-slider {
    width: auto;
    text-align: center;
}

.js-photos {
    display: flex;
    align-items: center;
    width: 46%;
    text-align: center;
    /* overflow: hidden; */
}

.slider img {
    float: left;
}

.slider h2 {
    float: right;
}

.js-name {
    background-color: #fff;
    width: 23%;
    padding: 20%;
}

.EscNameSlider {
    color: black;
}


/* balise main de la page enigmes.php */

.engMain {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ImgEnig {
    width: 30%;
    display: flex;
    text-align: center;
    margin: 10px;
}

#filtre-select {
    float: right;
    margin-right: 10px;
    padding: 4px;
    border-radius: 10px;
}

#ValidFilter {
    border-radius: 10px;
}


/* début affiche_detail.php */

h1 {
    color: white;
    text-align: center;
}

.description {
    align-items: center;
    max-width: 75%;
}

.imgDetail {
    margin-left: 10%;
}

.detail {
    display: flex;
}

.indice {
    color: white;
    margin-left: 50px;
}

.Warning {
    margin-left: 50px;
    background-color: rgba(255, 0, 0, 0.8);
}

.resa {
    color: black;
    background-color: #fff;
    width: auto;
    padding: 10px;
}


/* début page réservation */

#Escape {
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    border: white 1px solid;
    margin-left: 10px;
}

form {
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    width: 50%;
    margin-top: 20px;
}

form input {
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    border: #fff;
}

.valid {
    width: 25%;
    margin-top: 20px;
    text-align: center;
}

.requier {
    color: white;
}


/* page de confirmation */

.mainconfirm {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.imgconfirm {
    background-color: white;
    width: 50%;
    margin: auto;
}

.mainback {
    color: white;
    margin-left: 10px;
}

.confirm {
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width:900px) {
    .burger {
        display: block;
    }
    .nav {
        display: none;
    }
    ul {
        justify-content: space-between;
        padding: 10px;
    }
    iframe {
        width: 80%;
    }
    .engMain {
        flex-direction: column;
    }
    .details {
        flex-direction: column;
    }
}

@media screen and (max-width:700px) {
    form {
        width: 80%;
        margin-left: 10%;
    }
}