*,
*::before *::after {
    box-sizing: border-box;
}

html {
    margin: 0;
}

body {
    background-color: rgba(0, 0, 0, 0.8);
    margin: 0;
    overflow-x: hidden;
}


/* début de style de la nav */

nav {
    background-color: #fff;
    height: 15vh;
}

.navOuvert {
    display: none;
    text-align: center;
    width: 200px;
    margin: auto;
    height: 50%;
}

.navOuvert .nav {
    display: block;
    padding: 3px;
}

.ouvert {
    background-color: #fff;
    height: 30vh;
}

.logo {
    height: 10vh;
    width: auto;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: red;
}

.burger {
    width: 42px;
    height: 24px;
    cursor: pointer;
    position: relative;
    display: none;
}


/* création du burger menu */

.burger span {
    width: 100%;
    height: 4px;
    background-color: #000;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.burger span::before,
.burger span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #000;
}

.burger span::before {
    transform: translateY(-10px);
}

.burger span::after {
    transform: translateY(10px);
}


/* état burger menu actif */

.burger.active span {
    background-color: transparent;
}

.burger.active span::before {
    transform: translateY(0px) rotateZ(45deg);
}

.burger.active span::after {
    transform: translateY(0px) rotateZ(-45deg);
}


/* fin de style nav */

.engMain {
    display: flex;
    flex-direction: column;
}

.ariane {
    color: white;
    margin-left: 10px;
}

.arianePass {
    color: rgba(255, 255, 255, 0.5)
}

.homeTitle {
    color: white;
    text-align: left;
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;
}

p {
    margin-left: 50px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

iframe {
    margin: 50px;
}

.SliderAll {
    display: flex;
    justify-content: center;
    align-items: center;
}

.js-slider {
    position: relative;
    width: 1000px;
    height: 500px;
    overflow: hidden;
}

.js-photos {
    position: absolute;
    width: 100%;
    height: 200px;
    left: -500px;
    display: flex;
    transition: left 0.3s ease-out;
}

.js-photos.no-anime {
    transition: none;
}

.js-photo {
    position: relative;
    width: 1000px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: none;
    background-color: #fff;
    color: white;
    font-size: 2em;
}


/* .fleche {
    position: relative;
} */

.okk,
.ok {
    position: absolute;
    top: 125px;
    cursor: pointer;
    width: 50px;
}

.arrowRight {
    margin-left: 10px;
    height: 40px;
    right: -80px;
}

.arrowLeft {
    margin-right: 10px;
    height: 40px;
    left: -80px;
}

.slider img {
    float: left;
}

.slider h2 {
    float: right;
}

.js-name {
    background-color: #fff;
    width: 23%;
    padding: 20%;
}

.test {
    background-color: #fff;
    width: 500px;
}

.EscNameSlider {
    color: black;
    font-family: serif;
}


/* balise main de la page enigmes.php */

.engmain {
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 10px;
    margin: auto;
    justify-content: space-around;
}

.ImgEnig {
    width: 30%;
    background-color: white;
}

.enigNameImg {
    text-align: center;
}

.enigNameImg img {
    width: 100%;
}

.enigNameImg h1 {
    color: black;
    text-align: center;
    font-family: serif;
}

.tri {
    margin: 2%;
    float: right;
    width: 20%;
}

.filtres {
    display: flex;
    width: 20%;
    height: 30px;
    text-align: right;
    justify-content: center;
}

#filtre-select {
    padding: 4px;
    border-radius: 10px;
}

.FilterResearch {
    display: flex;
}

#ValidFilter {
    border-radius: 10px;
    height: 30px;
    margin: 0;
}


/* début affiche_detail.php */

h1 {
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

h4 {
    font-family: 'Poppins', sans-serif;
}

.description {
    align-items: center;
    max-width: 60%;
}

.imgDetail {
    margin-left: 10%;
}

.detail {
    display: flex;
    justify-content: center;
}

.indice {
    color: white;
    margin-left: 50px;
}

.Warning {
    margin-left: 50px;
    background-color: rgba(255, 0, 0, 0.8);
}

.resa {
    color: black;
    background-color: #fff;
    width: auto;
    padding: 10px;
}


/* début page réservation */

#Escape {
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    border: white 1px solid;
    margin-left: 10px;
}

form {
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    width: 50%;
    margin-top: 20px;
}

.Resa {
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    border: #fff;
}

.valid {
    width: 25%;
    margin-top: 20px;
    text-align: center;
}

.requier {
    color: white;
}


/* page de confirmation */

.mainconfirm {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.imgconfirm {
    background-color: white;
    width: 50%;
    margin: auto;
}

.mainback {
    color: white;
    margin-left: 10px;
}

h2 {
    color: white;
}

.confirm {
    font-family: 'Poppins', sans-serif;
}


/* Début page Team. */

.team {
    margin: 20px
}

.brand {
    text-align: center;
}

.creator {
    display: flex;
    align-items: center;
    max-width: 70%;
    text-align: center;
    margin: auto;
}

.creator img {
    width: 20%;
    height: auto;
    text-align: center;
}

.partenaire {
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 70%;
    margin: auto;
}

.partenaire img {
    width: 50%;
    height: auto;
    text-align: center;
}

.mentions {
    text-align: center;
    max-width: 80%;
    margin: auto;
}


/* page de mentions */

@media screen and (max-width:900px) {
    .burger {
        display: block;
    }
    .nav {
        display: none;
    }
    ul {
        justify-content: space-between;
        padding: 10px;
    }
    iframe {
        width: 80%;
    }
    .SliderAll {
        width: 100%
    }
    .engMain {
        flex-direction: column;
    }
    .details {
        flex-direction: column;
    }
    .ImgEnig {
        width: 45%;
    }
    .creator,
    .partenaire {
        flex-direction: column;
    }
}

@media screen and (max-width:700px) {
    form {
        width: 80%;
        margin-left: 10%;
    }
    .ImgEnig {
        width: 90%;
    }
    .detail {
        flex-direction: column;
        align-items: center;
    }
}